
.form{
    margin:100px auto;
    width: 80%;
    border:1px solid #303030;
    border-radius: 10px;
    background-color: #303030;
    padding: 1em;
  
}

.btn-primary{
    background-color: #303030;
    border-color: #00bc8c;
    color: #00bc8c;
}
.center-button{
    text-align: center;
}
.btn-primary:hover{
    background-color: #00bc8c;
    color: #303030;
}

@media only screen and (min-width:800px){
    .form{
        width:50%;
    }
}

@media only screen and (min-width:1200px){
    .form{
        width:30%;
    }
}
